<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Notes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/password_entropy.js') }}"></script>
</head>
<body>
    <h1>All Notes</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            {% for note in notes %}
            <tr>
                <td><a href="/notes/{{ note[0] }}">{{ note[1] }}</a></td>
                <td>{{ note[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
